.btn-primary{
    color: #fff;
    background-color: #660099 !important;
    border-color: #660099 !important;
}
.icon-img{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}
.reset{
    color: #660099;

}
.decor a{
    text-decoration: none;
}
p{
    font-size: xx-small;
}
