.register {
  .col {
    flex: 0 0 354px;
  }
}
.card {
  &__wrap-new {
    color: #000000d9;
    font-size: 14px;
    line-height: 1.5715;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    margin-top: 64px;
    width: 480px;
    padding: 32px;
    padding-bottom: 24px;
  }

  &__body {
    padding: 0;
  }
  &__info {
    display: flex;
    h3 {
      font-size: 24px;
      display: inline-block;
      margin-right: 16px;
    }
    h4 {
      margin-bottom: 0.5em;
      color: #151429;
      font-weight: 500;
      font-size: 20px;
    }
  }
  &__form-group {
    margin-top: 16px;
    color: #000000d9;
    font-size: 14px;
    line-height: 1.5715;
    list-style: none;
    div {
      flex: 1 1;
      width: 100%;
      position: relative;
      max-width: 100%;
      min-height: 1px;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
